@{
    ViewBag.Title = "PTCG Tracker Home";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">PTCG Tracker WebMVC</h1>
        <p class="lead">
            Access your entire collection with the push of a button.
        </p>
    </div>
</div>

<div class="container-fluid">
    <img src="https://www.desktopbackground.org/p/2011/02/12/156423_snorlax-hd-wallpapers_1920x1200_h.jpg" alt="Pokedex Card"> 
</div>


<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Start out by adding several cards from your collection using Card/Create. From there you can add Attacks, Abilities, Weaknesses, and Resistances through other tables to build out your database. Finally, you can add to and create collections that help you track specific goals.
        </p>
        @Html.ActionLink("Create Card", "Create", "Card", null, new { @class = "btn btn-primary btn-large" })


    </div>
    <div class="col-md-4">
        <h2>Collections!</h2>
        <p>We can also utilize the "Collections" function to track certain sets of cards.</p>
        @Html.ActionLink("Create Collection", "Create", "Collection", null, new { @class = "btn btn-primary btn-large" })
    </div>

    <div class="col-md-4">
        <h2>Git Hub</h2>
        <p>If you are interested in helping out with this application, check out my Git Hub page.</p>
        <p><a class="btn btn-default" href="https://github.com/jacobschilders/PTCG_Tracker">Check It Out &raquo;</a></p>
    </div>
</div>